@import "../preflight.css";
@import "../coreBase.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.sk-tabs.list-modal-list-tabs {
  @apply overflow-hidden flex flex-col;
  .sk-tabs-panels {
    @apply flex flex-col overflow-hidden;
  }
  .sk-tabs-content {
    @apply overflow-hidden;
  }
  .sk-tabs-list {
    @apply overflow-x-auto overflow-y-hidden shrink-0 min-h-30+1;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.sk-accordion.settings-accordion {
  .sk-disclosure-body {
    @apply m-0;
  }
}
